.textField {
    display: flex;
    flex-direction: column;
    margin: 14px 0;
}

.label {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #484848;
    margin-bottom: 8px;
}

.inputWrapper {
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    overflow: hidden;
}

.input {
    padding: 14px 16px;
    font-size: 16px;
    line-height: 16px;
    outline: none;
    font-weight: normal;
    border: none;
    border-left: 2px solid transparent;
    transition: .4s;
    width: 100%;
}

.input::placeholder {
    columns: #A6A6A6;
}

.textField:focus-within .input {
    border-left: 2px solid #5A6BFF;
    color: #212121;
}

.textarea {
    border: none;
    width: 100%;
    outline: none;
    resize: none;
    height: 115px;
    padding: 14px 16px;
    color: #212121;
    font-size: 16px;
    line-height: 16px;
}

.selectWrapper {
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    position: relative;
    padding: 14px 16px;
    margin: 14px 0;
}

.selectedValue {
    color: #212121;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.selectOptionList {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 15px 46px rgba(26, 26, 29, 0.12);
    border-radius: 4px;
    padding: 14px 0;
    box-sizing: border-box;
}

.selectOption {
    padding: 10px 16px;
    cursor: pointer;
    transition: .4s;
    user-select: none;
}

.selectOption:hover {
    background: #F7F7F7;
    color: #5A6BFF;
}

.closed {
    display: none;
}

.active::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #5A6BFF;
    border-radius: 8px 0px 0px 8px;
    bottom: 0;
    left: 0;
}

.errorMessage {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FF5A5F;
}

.inputHeadeSection {
    display: flex;
    justify-content: space-between;
}