.info {
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 36px;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(8px);
    border-radius: 0px 8px 0px 0px;
    max-width: 300px;
    z-index: 100;
}

.infoItem {
    display: flex;
    align-items: center;
}

.infoItemText {
    color: #212121;
    max-width: 180px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 18px 0 18px 24px;
}